@media only screen and (max-width: 499px) {
  .Sidebar {
    display: none;
  }
  .user {
    padding-left: 0;
  }

  .uploadBtn {
    margin-left: 10px;
  }

  .user:first-child {
    margin-top: 40px;
  }
}
